<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.coderdojo.kinozam"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="10" />
    <!--Uprawnienia jakich potrzebuje aplikacja do działania -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Podstawowe ustawienia aplikacji:
     - android:icon - Ikonka programu
     - android:label - Nazwa aplikacji
     Activity to w uproszczenie pojedynczy ekran, na którym użytkownik może wykonać pojedynczą operację
     -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".activity.SeansListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ShowSeansActivity" android:label="Szczegóły seansu"/>
        <activity
            android:name=".activity.RecenzjaActivity"
            android:label="Recenzja filmu"/>
    </application>

</manifest>
